includes:
    - plugin/plugin.neon
parameters:
    higherOrderCollection:
        collectionClass: App\Infrastructure\Support\Collection
        proxyClass: App\Infrastructure\Support\HigherOrderCollectionProxy
