parameters:
    earlyTerminatingMethodCalls:
        App\Infrastructure\Exception\ShouldNotHappen:
            - throw
        App\Infrastructure\Container\Resolvers\AbstractResolver:
            - throw
