services: 
    -
        class: Plugin\Extensions\CollectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: Plugin\Extensions\HigherOrderCollectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
            - phpstan.broker.propertiesClassReflectionExtension
